DEBUG=True
PORT=5000
AWS_ACCESS_KEY_ID=<AWS ACCESS ID>
AWS_SECRET_ACCESS_KEY=<AWS SECRET KEY>
S3_BUCKET_NAME_PROD=<S3 Bucket Name>
CONFIG=prod
REDIS_URL=redis://localhost:6379
BUCKET_PATH=<S3 Bucket folder path>
